/Geo01/warehouse/local/*
/Geo02/warehouse/local/*
/Geo03/warehouse/local/*
/MR/warehouse/local/*
/MR2/warehouse/local/*
/MR3/warehouse/local/*
/MR4/warehouse/local/*
/MR4_ITEM/warehouse/local/*
/MR5/warehouse/local/*
/MR_CATE/warehouse/local/*
/MR_time/warehouse/local/*
